<div class="container-fluid py-5">
    <div *ngFor="let detail of details">

        <div class="row">
            <div class="col-sm-2">
        
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{detail.username}}</h5>
                      <button class="btn btn-success ">Tickets</button>
        
                      </div>
                  </div>
            </div>
            </div>
    </div>
</div>



