/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}